/* .App {
  text-align: center;
} */

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/*Navigation*/

.Nav-header {
  background-color: #f44336;
  font-size: 4rem;
  /* font-size: 3em; */
  font-weight: 800;
  color: white;
  display:flex;
  justify-content: flex-start;
}


.nav-logo {
  display: flex;

}

header h1 {
  font-size: 5rem;
  font-family: sans-serif;
  font-weight: 900;
  padding-left: 50px
  
}

.nav-text {
  margin: 0 auto;
}

header p{
  justify-self: center;
  margin:0 auto;
}




/*MemberList*/

.loader-icon {
 
  text-align: center;
  margin-top: 40vh
  
  
}

.wrapper {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.row {
  width: 100%;
  justify-content: center;
}

.card {
  /* width: 450px; */
  margin: 30px;
  display: flex;
  flex-direction: column;
  max-width: 540px;
  border-radius: 0;
}
.first-row-card {
  display: flex;
  max-width: 100%

}
.img-box {
  margin:20px;
  max-width: 40%
}
.member-img {
  border-radius: 100px;
  max-width: 6rem;
  max-height: 6rem;
  }

.member-name {
  max-width: 60%;
  margin: 20px 0 0 0;
}

.card-bottom {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center
}

.card-text {
  display: inline-block;
  margin-bottom: 10px
}

/*MemberDetail*/

.member-detail {
  width: 80%;
  margin-top: 50px;
  border: 1px solid rgb(218, 217, 217);
  
  
}

.first-row {
  width: 80%;

  display: flex;
  margin: 30px;
  align-items: center;
  justify-content: space-around
  
}

.img-detail {
  display: inline-block;
  width: 300px;
  border-radius: 150px;
 
}

.first-row-text {
  display: inline-block;
  

}

.name-detail {
  display: inline-block;
}

.first-row-text p {
  display: inline-block
}

.age-detail {
  display: inline-block
}

.detail-bio {
  width: 80%;
  margin: 30px;
  text-align: justify
}